* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

ul,
li {
  list-style: none outside;
}

.box-shadow {
  box-shadow: 0 1px 5px #0003, 0 2px 2px #00000024, 0 3px 1px -2px #0000001f;
}
